*.backup
*.bak
*.dll
*.exe
*.iml
*.iml
*.log
*.pyc
*.test
*~
.*.swp
./*.tfstate
.DS_Store
.idea
.idea/
.terraform/
.vagrant/
/pkg/
bin/
example.tf
modules-dev/
terraform.tfplan
terraform.tfstate
website/.bundle
website/.vagrant
website/build
website/node_modules